src/lk/iit/stubs/ICT2WebServiceService1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ict2webapplicationtry.ict.iit.lk/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ict2webapplicationtry.ict.iit.lk/" name="ICT2WebServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://ict2webapplicationtry.ict.iit.lk/" schemaLocation="http://nimz-vivo:8080/ICT2WebApplicationTry-1.0-SNAPSHOT/ICT2WebServiceService?xsd=1"/>
</xsd:schema>
</types>
<message name="divide">
<part name="parameters" element="tns:divide"/>
</message>
<message name="divideResponse">
<part name="parameters" element="tns:divideResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="isConnected">
<part name="parameters" element="tns:isConnected"/>
</message>
<message name="isConnectedResponse">
<part name="parameters" element="tns:isConnectedResponse"/>
</message>
<portType name="ICT2WebService">
<operation name="divide">
<input wsam:Action="http://ict2webapplicationtry.ict.iit.lk/ICT2WebService/divideRequest" message="tns:divide"/>
<output wsam:Action="http://ict2webapplicationtry.ict.iit.lk/ICT2WebService/divideResponse" message="tns:divideResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ict2webapplicationtry.ict.iit.lk/ICT2WebService/divide/Fault/Exception"/>
</operation>
<operation name="isConnected">
<input wsam:Action="http://ict2webapplicationtry.ict.iit.lk/ICT2WebService/isConnectedRequest" message="tns:isConnected"/>
<output wsam:Action="http://ict2webapplicationtry.ict.iit.lk/ICT2WebService/isConnectedResponse" message="tns:isConnectedResponse"/>
</operation>
</portType>
<binding name="ICT2WebServicePortBinding" type="tns:ICT2WebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="divide">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="isConnected">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ICT2WebServiceService">
<port name="ICT2WebServicePort" binding="tns:ICT2WebServicePortBinding">
<soap:address location="http://nimz-vivo:8080/ICT2WebApplicationTry-1.0-SNAPSHOT/ICT2WebServiceService"/>
</port>
</service>
</definitions>